@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(31 41 55); */
  /* background-color: rgb(17 24 39); */
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  width: 100vw;
  height: 60px;
  background-color: rgb(247, 227, 227);
  border: 3px solid rgb(247, 227, 227);
  display: flex;
  justify-content: space-between;
  border-radius: 10px 10px 0 0;
  padding-top: 15px;
}

.menyList {
  display: inline-block;
  height: 100%;
  margin-right: 5px;
}

.menyLinks {
  text-decoration: none;
  list-style: none;
  font-size: 1.4rem;
  margin: 5px;
  /* color: rgb(255 255 255); */
  color: rgb(48, 48, 48);
  font-size: 1rem;
}

h1 {
  color: rgb(36, 35, 35);
  background-color: rgba(255, 255, 255, 0.521);
  width: 30vw;
  text-align: center;
  height: 40px;
  padding-top: 2px;
  text-transform: uppercase;
  font-size: 1.6rem;
  border-radius: 10px;
  flex-wrap: wrap;
}

header {
  height: 80vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: rgb(255, 196, 196);
  height: 12vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer > a {
  color: blueviolet;
}

.loginHeading {
  margin: auto;
}

.loginForm {
  height: 50vh;
  width: 50vw;
  margin: auto;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.loginForm > input {
  margin: 5px;
  line-height: 2;
  padding: 5px;
  font-size: 1.2rem;
}

.loginImg {
  height: 4rem;
  width: 4rem;
}

.service-main {
  height: 80vh;
  overflow: scroll;
}

.main-service-box {
  display: flex;
  flex-wrap: wrap;
}

.serviceBox {
  display: flex;
  flex-direction: column;
  width: 30%;
  box-shadow: 3px 3px 5px 5px #b6b6b691;
  height: 300px;
  margin: 15px;
  padding: 5px;
}

.hairdress-title {
  width: 100%;
  color: blue;
}

.service-logo {
  width: 250px;
  margin: auto;
}

.bookBtn {
  border-radius: 10px;
  background-color: blue;
  color: white;
  padding: 10px;
  margin-right: 13px;
}

.priceSpan {
  border-radius: 10px;
  border: 0.5px solid lightgray;
  padding: 10px;
  margin-right: 13px;
}

.myPageMain, .createAccountMain {
  height: 80vh;
  margin-top: 10px;
}

.createAccountForm {
  width: 50vw;
  height: 60vh;
  border: 1px solid lightblue;
  box-shadow: 1px 1px 1px 1px lightblue;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.createAccountForm > input {
  margin: 5px;
  border-bottom: 1px solid rgba(250, 128, 114, 0.658);
  line-height: 2;
  padding: 5px;
  font-size: 1.2rem;
}

.createAccountForm > button {
  background-color: lightblue;
  font-size: 1.2rem;
  color: darkblue;
}

.createAccountTitle {
  margin: auto;
  color: lightblue;
  font-size: 2rem;
  text-shadow: 1px 1px lightblue;
}

.homePageTitle {
  color: rgb(151, 93, 93);
}